/* About me section */

.aboutme_description {
  color: darkslategray;
  font: smaller;
  line-height: 22px !important;
  white-space: pre-line;
}

/* End of about me section */

/* Timeline section */

.resume_timeline .timeline_content .timeline_title {
  font-size: 16px;
  font-weight: 500;
}
.resume_timeline .timeline_content .timeline_date {
  color: darkslategray !important;
}
.resume_timeline .timeline_content .timeline_description {
  color: gray;
  font-size: small;
  margin-top: 6px;
}

/* End of Timeline section */
