/* Contact Section */

.contactInfo_item {
  color: var(--text-rose-gold);
  font-size: 14px;
  line-height: 32px !important;
}

.contactInfo_item > span {
  color: var(--text-soft-gold);
  font-weight: 500;
}

.contactInfo_socialsContainer {
  margin-top: 15px;
}

.contactInfo_social > a > .MuiSvgIcon-root {
  font-size: 25px;
  margin-right: 15px;
  color: var(--text-rose-gold) !important;
}

.contactInfo_social > a > .MuiSvgIcon-root:hover {
  color: var(--text-color) !important;
  /* opacity: 0.5; */
}

.MuiFormLabel-root {
  color: var(--text-rose-gold) !important;
}

.MuiInputBase-root::before {
  border-bottom-color: var(--text-rose-gold) !important;
}

.MuiInputBase-root > input {
  color: var(--text-color) !important;
}

.MuiInputBase-root > textarea {
  color: var(--text-color) !important;
}

/* End of Contact Section */

/* Map */

.map {
  width: 500px;
  height: 400px;
}

/* End of the Map */
