.footer {
  background-color: var(--main-background-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  border-radius: 6px;
  padding: 20px 25px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 6px;
}

.footer .footer_name {
  color: var(--text-color);
}

.footer .footer_copyright {
  font-size: small;
  text-align: end;
  color: #9c9c9c;
}

.footer .footer_copyright > a {
  text-decoration: none;
  color: var(--main-color);
}
