:root {
  --main-color: #feda6a;
  /* --main-color: #92a8d1; */
  --main-background-color: #393f4d;
  --main-background-darker: #333845;
  --text-color: #d4d4dc;
  --text-secondary-color: #1d1e22;
  --text-soft-gold: #d1bfa7;
  --text-rose-gold: #bd8c7d;
  --text-light-gray: #dcdcdc;
}

*:focus {
  outline: none !important;
}

/* Margins and Paddings */
.mt_60 {
  margin-top: 60px !important;
}

.mt_30 {
  margin-top: 30px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_45 {
  margin-bottom: 45px !important;
}

.p_30 {
  padding: 30px !important;
}

.p_50 {
  padding: 50px !important;
}

.pt_30 {
  padding-top: 30px !important;
}

.pt_45 {
  padding-top: 45px !important;
}

.pb_45 {
  padding-bottom: 45px !important;
}

@media (max-width: 991px) {
  .top_60 {
    margin-top: 30px !important;
  }
}

/* End of Margins and Paddings */

.container_shadow {
  /* box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13); */
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 6px;
}

.main_content {
  background-color: var(--main-background-color);
  border-radius: 6px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.section_title {
  color: var(--text-color);
  position: relative;
  display: inline-block;
  padding: 0 3px;
}

.section_title .section_title_text {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0;
}

.section_title > span {
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  background-color: var(--main-color);
}

.section {
  padding-left: 30px;
  padding-right: 30px;
}
