/* Tabs */

.customTabs {
  margin-bottom: 20px;
}

.customTabs .customTabs_item {
  color: var(--text-color);
  padding: 0px;
  min-width: 0px;
  margin-right: 20px;
  text-transform: inherit;
  font-size: 15px;
  font-weight: 500 !important;
  outline-width: 0px;
}

.customTabs .active {
  color: var(--main-color);
}

/* End of Tabs */

/* Card */

.customCard {
  height: 100%;
  max-width: 350px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 3, 0.08);
  border-radius: 5px;
  overflow: hidden;
  outline-width: 0px;
}

.customCard .MuiButtonBase-root {
  background-color: var(--main-background-darker);
  outline-width: 0px;
}

.customCard .MuiButtonBase-root:hover {
  background-color: var(--main-background-color);
}

.customCard .customCard_image {
  height: 140px;
}

.customCard .customCard_title {
  color: var(--text-rose-gold);
  font-weight: 500 !important;
}

.customCard .customCard_caption {
  font-weight: 400 !important;
  color: var(--text-soft-gold);
}

/* End of Cards */

/* Dialog */

.projectDialog .MuiPaper-root {
  height: 90%;
  width: 90%;
  background-color: #e7e7e7 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -3px 6px 0px inset;
}

.projectDialog .projectDialog_slider {
  margin-bottom: 25px;
}

.projectDialog .projectDialog_title {
  text-align: center;
  color: var(--main-background-color);
  font-size: 25px;
  font-weight: 600;
}

.projectDialog .projectDialog_description {
  margin-top: 15px !important;
}
.projectDialog .projectDialog_actions {
  justify-content: center !important;
  margin-bottom: 15px;
}
.projectDialog .projectDialog_icon {
  color: darkslategray;
  margin: 0px 12px;
  cursor: pointer;
}
.projectDialog .projectDialog_icon:hover {
  color: var(--main-color);
}

.projectDialog .projectDialog_icon > .MuiSvgIcon-root {
  font-size: 30px !important;
}

/* End of Dialog */
